body{
  background-color: #B4FF9F;
}
h1{
 padding: 30px;
}

.form{
  padding: 30px;
  background-color: #FFD59E;
}
.input{
  padding-bottom: 15px;
  padding-left: 20px;
}
.radio-checkbox{
  padding-left: 25px;
}
h3{
  padding-left: 20px;
  margin-top: 5px;
}
